<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qcz.qmplatform.module.sys.dao.SysOperateLogDao">

	<select id="findSysOperateLogList" resultType="com.qcz.qmplatform.module.sys.entity.SysOperateLog">
		select
			log_id,
			operate_type,
			operate_system,
			operate_module,
			operate_user_id,
			operate_user_name,
			operate_time,
			update_params,
			request_url,
			table_name,
			ip,
			operate_status 
		from
			sys_operate_log 
		<where>
			<if test="operateType != null and operateType !=''">
				operate_type = #{operateType}
			</if>
		</where>
	</select>
	
	<!-- 统计过去一个月内的个操作类型的数量 -->
	<select id="statisticsByOperateType" resultType="map">
		select
			operate_type as operateType,
			case operate_type
				when '-1' then '退出系统'
				when '1' then '登录系统'
				when '2' then '查询'
				when '3' then '新增'
				when '4' then '更新'
				when '5' then '删除'
			end as operateTypeName,
			count( operate_type ) as operateTypeCount 
		from
			sys_operate_log 
		where 
			operate_time > date_sub(now(),interval 30 day)
		group by
			operate_type
	</select>
	
	<select id="statisticsByUser" resultType="map">
		select
			t_count.*,
			su.user_name as userName
		from
			(
			select
				operate_user_id AS operateUserId,
				count( operate_user_id ) AS operateCount 
			from
				sys_operate_log 
			where
				operate_time > date_sub( now( ), interval 30 day ) 
			group by
				operate_user_id 
			) as t_count
			left join sys_user su ON t_count.operateUserId = su.user_id 
		order by
			t_count.operateCount desc
	</select>

</mapper>