<!DOCTYPE html>
<html>
<head th:replace="/include/include :: static(params='layui,vue')"></head>
<link rel="stylesheet" th:href="@{/static/main/css/login.css}" />
<title>Qu管理平台-登录</title>
<body>
	<div class="user-login-main">
		<div class="user-login-header">
			<h2>slv-init-manage</h2>
			<p>changzhongq 的初始化管理平台</p>
		</div>
		<form class="layui-form" id="login-form" action="javascript:;" method="post">
			<div class="layui-form-item">
				<label class="layui-icon layui-icon-username" for="user-login-username"></label>
				<input type="text" name="loginName" v-model="data.loginName" id="user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
			</div>
			<div class="layui-form-item">
				<label class="layui-icon layui-icon-password" for="user-login-password"></label> 
				<input type="password" name="loginPassword" v-model="data.loginPassword" id="user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
			</div>
			<div class="text-danger" v-text="error.loginFail"></div>
			<div class="layui-form-item">
				<button class="layui-btn layui-btn-fluid" lay-submit lay-filter="*">登 入</button>
			</div>
		</form>
		<div class="layui-trans user-login-footer">
			<p>
				© 2018 <a href="http://www.zhongcenter.cn" target="_blank">www.zhongcenter.cn</a>
			</p>
			<p>
				<span><a href="https://github.com/qcz-left/slv-init-manage" target="_blank">GitHub</a></span> 
				<span><a href="http://www.zhongcenter.cn" target="_blank">个人博客</a></span>
			</p>
		</div>
	</div>
	<script th:inline="javascript">
		var type = [[${param.type}]];
		type = (type ? type[0] : "");
	</script>
	<script type="text/javascript" th:src="@{/static/main/login.js?v=}+${#strings.randomAlphanumeric(16)}"></script>
</body>
</html>