<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcz.qmplatform.module.other.mapper.BillMapper">

    <select id="getList" resultType="com.qcz.qmplatform.module.other.vo.BillVO">
        <![CDATA[
            select
                tb.id,
                tb.type,
                va.attr_name as typeName,
                tb.amount,
                tb.consumer,
                tb.remark,
                tb.consume_time,
                tb.create_time,
                tb.create_user_id
            from
                tbl_bill tb
            left join ( select attr_value, attr_name from v_sys_dict_attr where dict_code = 'bill-type' ) va on cast(va.attr_value as int) = tb.type
            where 1=1
            [[ and tb.remark like '%' || #remark# || '%' ]]
            [[ and tb.type = #type# ]]
            [[ and tb.consume_time >= #consumeTimeStart# ]]
            [[ and tb.consume_time < #consumeTimeEnd# ]]
        ]]>
    </select>

    <select id="selectTest" resultType="com.qcz.qmplatform.module.other.vo.BillVO">
        select * from tbl_bill where 1=1
        [[ and tb.type = #type# ]]
    </select>
</mapper>
