<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qcz.qmplatform.common.base.BaseDao">

	<insert id="batchInsert">
		INSERT INTO ${table}(${cloumns}) VALUES<foreach item="dataItem" collection="list" separator=","><foreach item="item" index="index" open="(" close=")" collection="dataItem" separator=",">#{item}</foreach></foreach>
	</insert>
	
	<!-- 批量删除 -->
	<delete id="batchDelete">
		DELETE FROM ${table} WHERE ${idCloumn} IN(<foreach item="item" collection="ids" separator=",">#{item}</foreach>)
	</delete>
	
	<update id="updateByIdWithMap">
		update ${table} set <foreach item="item" collection="fields" separator=",">${item.cloumn} = #{item.value}</foreach> where ${idCloumn} = #{idValue}
	</update>
	
	<update id="updateByIdWithField">
		update ${table} set ${fieldName} = #{fieldValue} where ${idCloumn} = #{idValue}
	</update>
	
</mapper>