<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcz.qmplatform.module.system.mapper.ButtonMapper">
    <delete id="deleteButtonByMenuId">
        delete from sys_button where menu_id in(
            with recursive r as(
                select menu_id, parent_id from sys_menu where menu_id = #{menuId}
                union all
                select p.menu_id, p.parent_id from sys_menu p, r where r.menu_id = p.parent_id
            )
            select menu_id from r
        )
    </delete>
</mapper>
