<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcz.qmplatform.module.system.mapper.MenuMapper">

    <select id="selectMenuTree" resultType="com.qcz.qmplatform.module.system.domain.pojo.MenuTree">
        select
            permission_id as id,
            permission_name as name,
            icon,
            code,
            iorder,
            parent_id as "parentId",
            permission_type as "permissionType",
            link_url as "linkUrl",
            display
        from v_sys_permission vsp
        where 1=1
            [[ and permission_name like #permissionName# ]]
            [[ and permission_type = #permissionType# ]]
            [[ and display = #display# ]]
            [[
                and exists (
                    select 1 from sys_role_permission srp
                    where vsp.permission_id = srp.permission_id
                    and exists (
                        select 1 from sys_user_role sur
                        where srp.role_id = sur.role_id
                        and sur.user_id = #userId#
                    )
                )
            ]]
            [[ and permission_id not in(#notExistsMenuIds#) ]]
        order by iorder
    </select>

    <select id="getPermissionByIds" resultType="com.qcz.qmplatform.module.system.domain.pojo.Permission">
        select
            permission_id,
            permission_name,
            icon,
            code,
            display,
            iorder,
            parent_id,
            permission_type,
            link_url
        from
            v_sys_permission
        where
            permission_id in(#ids#)
    </select>

    <select id="validatePermissionCode" resultType="int">
        select count(1) from v_sys_permission where code = #code#
        [[ and permission_id != #permissionId# ]]
    </select>

</mapper>
