<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcz.qmplatform.module.business.system.mapper.MessageMapper">

    <select id="selectTypeCount" resultType="map">
        select
            type,
            count(type) as count
        from
            sys_message
        where
            readed = #readed#
        and receiver = #receiver#
        group by
            type
    </select>

    <select id="selectTypeCountByUserIds" resultType="map">
        select
            type,
            receiver,
            count(1) as count
        from
            sys_message
        where
            readed = #readed#
        and receiver in(#receivers#)
        group by
            type,
            receiver
    </select>

    <select id="selectMessageList" resultType="com.qcz.qmplatform.module.business.system.domain.vo.MessageVO">
        select
            sm.*,
            va.attr_name typeName,
            case sm.sender when 'system' then '系统' else su.username end senderName,
            su2.username receiverName
        from
            sys_message sm
            left join sys_user su on sm.sender = su.id
            left join sys_user su2 on sm.receiver = su2.id
            left join ( select attr_value, attr_name from v_sys_dict_attr where dict_code = 'message-type' ) va on va.attr_value = concat(sm.type, '')
        where 1=1
        [[ and content like concat(concat('%', #content#), '%') ]]
        [[ and sm.receiver = #receiver# ]]
    </select>

</mapper>
