<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcz.qmplatform.module.system.mapper.OperateLogMapper">

    <select id="queryOperateLogList" resultType="com.qcz.qmplatform.module.system.vo.OperateLogVO">
        select
            sol.*,
            va1.attr_name as operateTypeName,
            va2.attr_name as operateStatusName
        from sys_operate_log sol
        left join (select attr_value, attr_name from v_sys_dict_attr where dict_code = 'operate-type') va1 on va1.attr_value = cast(sol.operate_type as varchar)
        left join (select attr_value, attr_name from v_sys_dict_attr where dict_code = 'operate-status') va2 on va2.attr_value = cast(sol.operate_status as varchar)
        where 1 = 1
        [[ and sol.operate_user_name like concat('%', #operateUserName#, '%') ]]
        [[ and sol.description like concat('%', #description#, '%') ]]
        [[ and sol.operate_type = #operateType# ]]
        [[ and sol.operate_status = #operateStatus# ]]
        [[ and sol.operate_time >= to_timestamp(#operateTime_start#,'yyyy-MM-dd hh24:mi:ss') ]]
        [[ and sol.operate_time &lt; to_timestamp(#operateTime_end#,'yyyy-MM-dd hh24:mi:ss') ]]
    </select>

</mapper>
