<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcz.qmplatform.module.system.mapper.OrganizationMapper">
    <select id="selectOrgTree" resultType="com.qcz.qmplatform.module.system.pojo.OrgTree">
        select
            organization_id as id,
            organization_name as name,
            organization_code as code,
            parent_id as "parentId",
            iorder
        from sys_organization so
        where 1=1
        <if test="organizationId != null and organizationId != ''">
            and not exists(
                select organization_id from (
                    with recursive r as(
                        select * from sys_organization where organization_id = #{organizationId}
                        union all
                        select p.* from sys_organization p, r where r.organization_id = p.parent_id
                    )
                    select organization_id from r
                ) as tmp
                where tmp.organization_id = so.organization_id
            )
        </if>
        <if test="parentId != null and parentId != ''">
            and exists(
                select organization_id from (
                    with recursive r as(
                        select * from sys_organization where parent_id = #{parentId}
                        union all
                        select p.* from sys_organization p, r where r.organization_id = p.parent_id
                    )
                    select organization_id from r
                ) as tmp
                where tmp.organization_id = so.organization_id
            )
        </if>
        order by iorder
    </select>

    <select id="selectOrgUserTree" resultType="com.qcz.qmplatform.module.system.pojo.OrgTree">
        select
            organization_id as id,
            organization_name as name,
            organization_code as code,
            parent_id as "parentId",
            iorder,
            1 as itype
        from sys_organization so
        union all
        select
            su.id,
            su.username as name,
            su.loginname code,
            suo.organization_id as "parentId",
            0 iorder,
            2 as itype
        from
            sys_user su
        left join sys_user_organization suo on su.id = suo.user_id

        order by itype,iorder
    </select>

    <select id="selectCascOrgIds" resultType="string">
        select organization_id from casc_org(
        <foreach collection="organizationIds" item="organizationId" separator=",">
            #{organizationId}
        </foreach>
        )
    </select>

    <delete id="deleteOrgById">
        delete from sys_organization where organization_id in(
            select organization_id from casc_org(
            <foreach collection="organizationIds" item="organizationId" separator=",">
                #{organizationId}
            </foreach>
            )
        )
    </delete>
</mapper>
