@charset "UTF-8";

body {
	background: #f2f2f2;
	text-align: center;
}

.user-login-main {
	width: 800px;
	height: 450px;
	padding: 20px;
	box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
	background-color: #fff;
}

.user-login-header h2 {
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 30px;
	color: #000;
}

.user-login-header p {
	font-weight: 300;
	color: #999;
}

.login-left {
	height: 100%;
}

.login-left .system-cn {
	color: #009688;
	font-size: 30px;
	font-weight: 600;
}

.login-left .system-en {
	color: gray;
	font-size: 20px;
}

.layui-form {
	padding: 20px;
}

.login-title {
	padding: 40px 0 30px 0;
	color: #333;
	line-height: 28px;
	text-align: center;
}

.login-title h1 {
	margin-top: 10px;
}

.login-pattern {
	position: absolute;
	right: 12px;
	top: 12px;
	width: 46px;
	height: 46px;
	z-index: 2;
	cursor: pointer;
}

.login-pattern-logo {
	width: 50px;
	height: 50px;
}

#logo-code {
	background: url("../common/image/logo-code.png");
	background-size: 100% 100%;
}

#logo-pc {
	background: url("../common/image/logo-pc.png");
	background-size: 100% 100%;
}

#pc-login-tip {
	position: absolute;
	top: 0;
	right: 46px;
	width: 99px;
	height: 18px;
	background: url("../common/image/logo-pwd.png");
	background-size: 100% 100%;
	cursor: default;
}

#codeLoginContainer iframe .login_qrcode_content {
    margin-top: 20px !important;
}

#codeLoginContainer {
	height: 280px;
}

.layui-icon-username, .layui-icon-password, .layui-icon-vercode {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 38px;
	line-height: 36px;
	text-align: center;
	color: #d2d2d2;
	z-index: 9999;
}

.layui-form-item {
	position: relative;
}

.layui-form .layui-input {
	padding-left: 38px;
}

.user-login-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	line-height: 30px;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	color: rgba(0, 0, 0, .5);
}

.iconfont {
	font-size: 32px;
}

#otherLoginWayContainer .iconfont {
	cursor: pointer;
}

.layui-elem-field legend {
	margin-left: unset;
}
