@charset "UTF-8";

.error-body {
	line-height: 24px;
	font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial,
		sans-serif;
}

.error-body .layui-fluid {
	padding: 15px;
}

.error-body .layui-tips {
	margin-top: 30px;
	text-align: center;
}

.error-body .layui-tips .layui-icon[face] {
	display: inline-block;
	font-size: 250px;
	color: #393D49;
}

.error-body .layui-tips .layui-text {
	width: 500px;
	margin: 30px auto;
	padding-top: 20px;
	border-top: 5px solid #009688;
	font-size: 16px;
}

.error-body .layui-tips h1 {
	font-size: 100px;
	line-height: 100px;
	color: #009688;
}

.error-body .layui-tips h2 {
	font-size: 20px;
	line-height: 100px;
	color: black;
}

.error-body .layui-tips .layui-text .layui-anim {
	display: inline-block;
}