@charset "UTF-8";

body {
    background: white;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
}

html {
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.content-body {
    padding: 5px;
}

.hide {
    display: none
}

.content-body .layui-form .layui-form-item {
    margin-bottom: 0;
}

.content-body .layui-form .layui-form-label {
    font-weight: bold;
    min-width: 120px;
}

.content-body .layui-form .layui-input-block {
    margin-left: 150px;
}

.content-body .layui-form button {
    margin-left: 5px;
}

.data-grid .layui-table {
    margin-top: 5px;
}

#operator {
    bottom: 0px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #eee;
}

.btn-input-inline {
    position: absolute;
    right: 300px;
}

.text-danger {
    color: red;
}

.text-success {
    color: green;
}

.layui-layer .layui-layer-title {
    text-align: left;
    color: #fff;
    background: #393D49;
}

.layui-layer .layui-layer-setwin .layui-icon {
    color: #fff;
}

/* layui confirm皮肤扩展 */
body .my-layer-danger .layui-layer-title {
    background: #FF5722;
    color: white;
}

body .my-layer-danger .layui-layer-btn0 {
    background: #FF5722;
    border: none;
}

body .my-layer-danger .layui-layer-close {
    color: white;
}

body .my-layer-warm .layui-layer-title {
    background: yellow;
}

body .my-layer-warm .layui-layer-btn0 {
    background: yellow;
    color: black;
    border: none;
}

.layui-layer-iframe .layui-layer-btn-,
.layui-layer-page .layui-layer-btn- {
    background: #f5f1f1;
    text-align: center;
}

.layui-layer-iframe .layui-layer-btn- a,
.layui-layer-page .layui-layer-btn- a {
    height: 36px;
    line-height: 36px;
    padding: 0 18px;
}

.jqgrid-wrapper {
    height: 100%;
}

.ui-jqgrid .ui-jqgrid-title {
    font-size: 20px;
}

.ui-jqgrid-labels {
    font-size: 14px;
}

.ui-jqgrid tr.jqgrow td {
    font-family: "宋体"
}

.ui-jqgrid .ui-jqgrid-view {
    height: 100%;
}

.ui-jqgrid .ui-jqgrid-htable thead th, .ui-jqgrid tr.ui-row-ltr td {
    height: 40px;
    border-bottom: 1px #f2f2f2 solid;
    border-right: 1px #f2f2f2 solid;
}

.ui-jqgrid tr.ui-row-ltr td {
    padding-left: 5px;
    padding-right: 5px;
}

.detail-form {
    padding-top: 10px;
}

.detail-operator {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    text-align: center;
    background: #f5f1f1;
    padding-top: 6px;
    padding-bottom: 6px;
}

.detail-body .layui-fluid {
    overflow: auto;
    height: calc(100% - 50px);
}

.layui-form-label.required:before {
    content: "*";
    color: red;
    margin-right: 5px;
}

.layui-form div[disabled] {
    line-height: 38px;
}

[disabled] {
    color: #d2d2d2 !important;
    cursor: not-allowed !important;
}

[data-edit=true] {
    cursor: pointer !important;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #7E7E7E;
}

.vh-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* 隐藏tinycme富文本编辑器的广告按钮 */
.tox-statusbar__branding {
    display: none;
}

/* 禁用区域，不可点击 */
.gray-disabled {
    pointer-events: none;
    opacity: 0.5;
    color: #a9a9a9;
}

.search-form .layui-form-label {
    width: unset;
}

.search-form .input-content .layui-input {
    width: 190px;
}

.layui-header .layui-nav .layui-nav-child .layui-menu-body-title {
    color: rgba(0, 0, 0, .8);
}

.layui-header .layui-menu .layui-menu-item-checked:after {
    border-right: unset;
}
