@charset "UTF-8";

body {
    background: white;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.content-body {
    padding: 5px;
}

.hide {
    display: none
}

.content-body .layui-form .layui-form-item {
    margin-bottom: 0;
}

.content-body .layui-form .layui-form-label {
    font-weight: bold;
    min-width: 120px;
}

.content-body .layui-form .layui-input-block {
    margin-left: 150px;
}

.content-body .layui-form button {
    margin-left: 5px;
}

.data-grid .layui-table {
    margin-top: 5px;
}

#operator {
    bottom: 0px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #eee;
}

.btn-input-inline {
    position: absolute;
    right: 300px;
}

.text-danger {
    color: red;
}

.text-success {
    color: green;
}

/* layui confirm皮肤扩展 */
body .my-layer-danger .layui-layer-title {
    background: #FF5722;
    color: white;
}

body .my-layer-danger .layui-layer-btn0 {
    background: #FF5722;
    border: none;
}

body .my-layer-danger .layui-layer-close {
    color: white;
}

body .my-layer-warm .layui-layer-title {
    background: yellow;
}

body .my-layer-warm .layui-layer-btn0 {
    background: yellow;
    color: black;
    border: none;
}

.jqgrid-wrapper {
    height: 100%;
}

.ui-jqgrid .ui-jqgrid-title {
    font-size: 20px;
}

.ui-jqgrid-labels {
    font-size: 14px;
}

.ui-jqgrid tr.jqgrow td {
    font-family: "宋体"
}

.ui-jqgrid .ui-jqgrid-view {
    height: 100%;
}

.ui-jqgrid .ui-jqgrid-htable thead th, .ui-jqgrid tr.ui-row-ltr td {
    height: 40px;
    border-bottom: 1px #f2f2f2 solid;
    border-right: 1px #f2f2f2 solid;
}

.ui-jqgrid tr.ui-row-ltr td {
    padding-left: 5px;
    padding-right: 5px;
}

.detail-form {
    padding-top: 10px;
}

.detail-operator {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    text-align: center;
    background: #f5f1f1;
    padding-top: 6px;
    padding-bottom: 6px;
}

.detail-body .layui-fluid {
    overflow: auto;
    height: calc(100% - 50px);
}

.layui-form-label.required:before {
    content: "*";
    color: red;
    margin-right: 5px;
}