.jq-steps {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    overflow: hidden;
    margin: 5px;
}

.jq-steps-horizontal {
    display: inline-flex;
}

.steps-item-finished .steps-circle {
    background-color: #16b777;
    color: white;
}

.steps-item-finished .steps-item-content {
    cursor: pointer;
}

.steps-item-selected .steps-circle {
    background-color: #16baaa;
    color: white;
}

.steps-item-wait .steps-circle {
    background-color: #F2F2F2;
    color: #A4A4A4;
}

.steps-item-to .steps-circle {
    background-color: rgb(255, 186, 82);
    color: white;
}

.steps-circle {
    width: 25px;
    height: 25px;
    border-radius: 50% 50% 50% 50%;
    font-size: 14px;
}

.steps-circle .layui-icon {
    font-size: 14px;
}

.steps-nav {

}

.steps-nav-horizontal {
    height: 100%;
    border-right: 1px solid rgb(228, 228, 228);
    overflow-y: auto;
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
}

.steps-nav-vertical {
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
    overflow-x: auto;
    flex: 0 0 0 80px;
    max-height: 80px;
    min-height: 80px;
    height: 80px;
}

.steps-line {
    background: #E4E4E4;
}

.steps-line-horizontal {
    width: 1px;
    height: 40px;
    margin: 5px 12px 5px 12px;
}

.steps-line-vertical {
    width: 80px;
    height: 1px;
    margin: 12px 5px 12px 5px;
}

.steps-separator {
    background: #E4E4E4;
    width: 1px;
    height: 100%;
    margin: 0 0 0 20px;
}

.steps-title {
    margin: 5px;
}

.steps-item-selected {
    font-weight: bold;
}

.steps-title-vertical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.steps-content {

}

.steps-form-content {
    overflow: auto;
}

.steps-form-content-vertical {
    height: calc(100% - 111px);
    width: 100%;
    padding-top: 10px;

}

.steps-form-content-horizontal {
    height: 100%;
    width: calc(100% - 10px);
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    padding-left: 10px;
}

.steps-form-content .steps-form-item {
    height: 100%;
    position: relative;
}

.steps-item-vertical {
    display: inline-flex;
    margin-bottom: 26px;
}

