.jq-steps {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.jq-steps-horizontal {
    display: inline-flex;
}

.step-circle-finished {
    background-color: #16b777;
    color: white;
}

.step-circle-process {
    background-color: #16baaa;
    color: white;
}

.step-circle-wait {
    background-color: #F2F2F2;
    color: #A4A4A4;
}

.step-circle {
    width: 25px;
    height: 25px;
    border-radius: 50% 50% 50% 50%;
    font-size: 14px;
    cursor: pointer;
}

.step-circle .layui-icon {
    font-size: 14px;
}

.steps-nav {
    margin: 10px;
}

.steps-nav-horizontal {
    height: calc(100% - 20px);
    border-right: 1px solid rgb(228, 228, 228);
    overflow-y: auto;
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
}

.steps-nav-vertical {
    width: calc(100% - 20px);
    border-bottom: 1px solid rgb(228, 228, 228);
    overflow-x: auto;
    flex: 0 0 0 80px;
    max-height: 80px;
    min-height: 80px;
    height: 80px;
}

.step-line-horizontal {
    background: #E4E4E4;
    width: 1px;
    height: 40px;
    margin: 5px 12px 5px 12px;
}

.step-line-vertical {
    background: #E4E4E4;
    width: 80px;
    height: 1px;
    margin: 12px 5px 12px 5px;
}

.steps-separator {
    background: #E4E4E4;
    width: 1px;
    height: 100%;
    margin: 0 0 0 20px;
}

.step-title {
    margin: 5px;
}

.steps-item-selected {
    font-weight: bold;
}

.step-title-vertical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.steps-content {

}

.steps-form-content {
    overflow: auto;
    padding: 10px;
}

.steps-form-content-vertical {
    height: calc(100% - 121px);
    width: calc(100% - 20px);

}

.steps-form-content-horizontal {
    height: calc(100% - 20px);
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.steps-form-content .steps-form-item {
    height: 100%;
    position: relative;
}

.steps-item-vertical {
    display: inline-flex;
    margin-bottom: 26px;
}

