.layui-layout-admin .layui-header {
    background: #a25454;
}

.layui-side, .layui-side .layui-nav,
.layui-layer .layui-layer-title {
    background-color: #8c4646 !important;
}

.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover,
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-bar,
.layui-nav .layui-this:after,
.layui-nav-tree .layui-nav-bar,
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #f5c3c3;
}

.layui-layout-admin .layui-logo,
.layui-tab-brief > .layui-tab-title .layui-this {
    color: #f5c3c3;
}

.layui-tab-brief > .layui-tab-title .layui-this:after,
.layui-tab-brief > .layui-tab-more li.layui-this:after {
    border-bottom: 2px solid #f5c3c3;
}

